.check-item{
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid #dfdfdf; */
}

.delete-notes{
    position: relative;
    margin: 0;
    bottom: 0em;
    right: 0.1em;
    cursor: pointer;
}

.fake-checkbox{
    height: 15px;
    width: 15px;
    position: relative;
    left: 1em;
    top:0em;
    /* border-radius: 50%; */
}

.checked{
    border: 3px solid #bbbbbb;
}

.unchecked{
    border: 3px solid #bbbbbb;
}

#checked-task{
    color: #888888;
    text-decoration: line-through;
    /* margin-left: 0.7em; */
}


.checkbox{
    display: flex;
    align-items: center;
}

.checkmark{
    height: 6px;
    width: 10px;
    position: relative;
    top: 0.1em;
    left: 0.1em;
    border-left: 3px solid;
    border-bottom: 3px solid;
    transform: rotate(-45deg);
}

@media screen and (min-width: 760px){
    span.delete-notes{
        left: 1em;
    }
}